REGISTRY_HOSTNAME=registry.yourdomain.com
REGISTRY_USER=admin
REGISTRY_PASSWORD=yourpassword
REGISTRY_HTTP_SECRET=some-long-random-registry-http-secret
JWT_SECRET=some-long-random-secret-at-least-32-characters
NODE_ENV=production
